# Randomly generated secret key for cookies signing
REMIX_COOKIE_SECRET="sEcReT"
REMIX_COOKIE_MAXAGE="604800" # 7 days
VITE_GRPC_ENDPOINT="${GOMMERCE_GRPC_ENDPOINT}"
GOMMERCE_GRPC_ENDPOINT="http://localhost:5050"
GOMMERCE_AUTH_REALM="admin"
# Client basic auth token, calculated as btoa(secret_key + ':' + secret_code)
GOMMERCE_CLIENT_TOKEN="Og=="
